# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
#.env*.local

# typescript
*.tsbuildinfo

# Custom config files
metro.config.js

# Local build folders
/android
/.vscode
.env
supabaseClient.js
Screens/TestEmail.js
/supabase/functions/analyze-email
supabase/
Screens/TestEmail.js
supabase/.temp/cli-latest
supabase/.temp/gotrue-version
supabase/.temp/pooler-url
supabase/.temp/project-ref
supabase/.temp/storage-version
supabaseClient.js
supabase/functions/analyze-email/index.ts
supabase/.temp/rest-version
supabase/.temp/postgres-version
